$font: 'DM Sans', sans-serif;

$purple-100: hsl(254, 88%, 90%);
$purple-500: hsl(256, 67%, 59%);
$yellow-100: hsl(31, 66%, 93%);
$yellow-500: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);

@mixin highlight($color){
  color: $color;
}

// header includes weight, size, color 
@mixin section ($align, $bg, $header-weight, $header-size, $header-color, $text-align, $padding-top-bottom: 0, $padding-left-right: 0, $header-letter-spacing:1px){
  display: flex;
  flex-direction: column;
  align-items: $align;
  background-color: $bg;
  padding: $padding-top-bottom $padding-left-right;
  border-radius: 10px;
  line-height: 1;
  text-align: $text-align;
  
  .header{
    margin: 0;
    font-weight: $header-weight;
    font-size: $header-size;
    color: $header-color;
    letter-spacing: $header-letter-spacing;
  }

  figure{
    margin: 0;

    img{
      width: 100%;
    }
  }
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: $font;
  background-color: rgb(241, 241, 241);
}

main {
  margin: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .review-section{
    @include section(center, $purple-500, 500, 2.8em, $white, center, 40px, 35px);

    .header{
      margin-bottom: 20px;
      .highlight{
        @include highlight($yellow-500);
      }
    }

    figure{
      width: 190px;
    }

    p{
      margin: 10px 0 0;
      color: $white;
      font-weight: 200;
      font-size: 19px;
    }
  }

  .platform-section{
    @include section(start, $white, 500, 1.6em, $black, left, 15px, 15px, -2px);

    figure{
      margin-bottom: 10px;
    }
  }

  .posting-schedule-section{
    @include section(start, $yellow-500, 500, 1.6em, $black, left, 15px, 15px, -2px);
    padding-bottom: 0;
    padding-right: 30px;
    height: 185px;
    overflow: hidden;

    figure{
      width: 190px;
      margin-top: 10px;
    }
  }

  .media-schedule-section{
    @include section(center, $purple-100, 500, 1.6em, $black, center, 20px, 15px, -2px);

    .header, figure{
      margin: 10px 0;
    }

    p{
      font-size: 1.1em;
      margin: 10px;
    }
  }

  .follower-grow-section{
    @include section(center, $purple-500, 500, 1.9em, $white, center, 20px, 55px, -1px);

    figure{
      margin-bottom: 30px;
    }
  }

  .audience-grow-section{
    @include section(start, $white, 500, 2.8em, $black, left, 20px, 20px, 0px);

    p{
      font-size: 18px;
    }

    figure{
      width: 180px;
    }
  }

  .create-section{
    @include section(start, $yellow-100, 500, 2em, $black, left, 30px, 30px, -2px);

    .header{
      i{
        color: $purple-500;
      }
    }

    figure{
      width: 180px;
      margin-top: 20px;
    }
  }

  .write-ai-content-section{
    @include section(start, $yellow-500, 500, 2em, $black, left, 20px, 25px, -2px);

    figure{
      width: 210px;
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 1100px) {
  body{
    margin: 50px 100px;
  }

  main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 70px);
    
    .create-section{
      grid-area: 1 / 1 / 6 / 2;
      justify-content: center;
      .header{
        font-size: 2.8em;
      }
      figure{
        width: auto;
      }
    }

    .write-ai-content-section{
      grid-area: 6 / 1 / 11 / 2;
      justify-content: space-between;
      .header{
        font-size: 2.8em;
      }
      figure{
        width: auto;
      }
    }

    .review-section{
      grid-area: 1 / 2 / 5 / 4;
      justify-content: center;
      .header{
        font-size: 4em;
      }
    }

    .media-schedule-section {
      grid-area: 1 / 4 / 8 / 5;
      padding: 30px;
      justify-content: center;
      align-items: start;
      text-align: left;
      overflow: hidden;
      .header{
        font-size: 2.2em;
      }
      figure{
        img{
          height: 360px;
          width: auto;
        }
      }
      p{
        margin: 10px 0 0;
        font-size: 1.2em;
      }
    }

    .platform-section{
      grid-area: 5 / 2 / 8 / 3;
      padding: 25px;
      justify-content: space-between;
      overflow: hidden;
      .header{
        font-size: 2.2em;
      }
      figure{
        margin: 0;
        img{
          width: auto;
          height: 72px;
        }
      }
    }

    .posting-schedule-section{
      grid-area: 5 / 3 / 8 / 4;
      padding: 25px;
      height: auto;
      .header{
        font-size: 2.2em;
      }
      figure{
        width: auto;
      }
    }
    
    .audience-grow-section{
      grid-area: 8 / 2 / 11 / 3;
      padding: 25px;
      justify-content: space-between;
      overflow: hidden;
      .header{
        font-size: 4em;
      }
      figure{
        width: auto;
      }
    }

    .follower-grow-section{
      grid-area: 8 / 3 / 11 / 5;
      flex-direction: row;
      padding: 20px 25px;
      text-align: left;
      gap: 10px;
      overflow: hidden;
      figure{ 
        margin: 0;
        height: 100%;
        width: auto;
        img{
          height: 100%;
          width: auto;
        }
      }
      .header{
        font-size: 2.6em;
      }
    }
  }
}